{% include "header.html" %}
 
<!-- {% block title %}
Login 
{% endblock %} -->



    <div class="main">

      <div class="left"></div>

      <div class="right">
        <div class="container login-container">
          <h1>Welcome back!</h1>
          <p class="info1">Enter your Credentials to access your account</p>
          
          <!-- Display flash messages -->
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <p class="flash">{{ message }}</p>
          {% endfor %}
          {% endif %}
          {% endwith %}
          
          <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
              <label >Email address</label>
              {{ form.email(class="form-control", placeholder="Enter your email") }}
            </div>
            <div class="form-group">
              <label >Password</label>
              {{ form.password(class="form-control", placeholder="Password") }}
            </div>
            <button type="submit" class="btn">Login</button>
          </form>
          <p class="info2">Don't have an account? <a href="{{url_for('sign_up')}}">Sign Up</a></p>
        </div>
      </div>

    </div>
  </body>
</html>

